<%- include('header.ejs') %>
<form action="/getUser" method="post">

    <div class="d-flex align-items-center justify-content-center m-3 p-3">
        
        <h1> Enter the id : {for ex: 62e791f02c2086c13a26672c }</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center m-3 p-3">
        <input class="form-control w-50 m-3 p-3" type="text" id="id" placeholder="Enter the id" name="id" >
        <input class=" m-3 p-3 btn btn-primary" type="submit" id="submit" name="submit" value="Submit">
    </div>
</form>