<%- include('header.ejs') %> 
Send An Email Through SendGrid<a href="/sendMail"> Click here</a>

<div class="m-3 p-3 d-flex align-items-center justify-content-center ">

<a href="/a"></a>    <button class="btn btn-primary m-3 p-3 d-flex align-items-center justify-content-center w-30" >Add User</button>
</div>
<%- include('form.ejs') %> 

<script src="../home.ts"></script>


</body>
</html>