<%- include('header.ejs') %> 
<div class="m-3 p-3 d-flex align-items-center justify-content-center ">

    <button class="btn btn-primary m-3" >Add User</button>
    <button class="btn btn-primary m-3">Get User</button>
    <button class="btn btn-primary m-3">Update User</button>
    <button class="btn btn-primary m-3">Delete User</button>
</div>
<%- include('form.ejs') %> 

<script src="../home.ts"></script>


</body>
</html>